<div class="page-wrapper">

  <div class="page-header">
    <h1><a ui-sref="home"><img class="logo-img" src="images/girl.svg" /></a>Welcome back!</h1>
  </div>


<div class="bodyloginreg">
  <div ng-show="authCtrl.error" class="adjust center">
    <span>{{ authCtrl.error.message }}</span>
  </div>

  <form ng-submit="authCtrl.login()">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
    </div>
    <br/>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
    </div>
    <br/>
    <br/>
    <input type="submit" class="btn btn-lg btn-primary input-group" value="Log In">
  </form>
</div>


</div>
